<% content_for :head_block do %>
  <%= stylesheet_link_tag    'animate.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'flatpickr.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'fontello.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'fontello-codes.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'thumbs-embedded.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'style.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'responsive.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'newRoom.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'rooms.js'%>
<% end %>
<header>
  <div class="top_bar">
    <div class="container">
      <div class="top_header_content">
        <div class="btm_bar_content" style="float: left;font-size: 20px">
          <%=link_to "/rooms/" do%>视频<%end %>
        </div>
        <div class="search_form" style="margin-left: 350px">
          <%= form_tag(rooms_search_path,:method => "get") do %>
            <div class="input-group">
              <%=search_field_tag :id,params[:id],placeholder:"Input Your Invitation Code" %>
              <div>
                <%=button_tag "Enter",:name=>nil %>
              </div>
            </div>
          <%end %>
        </div>
          <ul class="controls-lv">
            <li>
              <a href="#" title=""><i class="icon-message"></i></a>
            </li>
            <li>
              <a href="#" title=""><i class="icon-notification"></i></a>
            </li>
            <li class="user-log">
              <div class="user-ac-img">
                <%= image_tag("user-img.png") %>
              </div>
              <div class="account-menu">
                <h4>AZYRUSMAX <span class="usr-status">PRO</span></h4>
                <div class="sd_menu">
                  <ul class="mm_menu">
                    <li>
												<span>
													<i class="icon-user"></i>
												</span>
                      <a href="#" title="">My Channel</a>
                    </li>
                    <li>
												<span>
													<i class="icon-paid_sub"></i>
												</span>
                      <a href="#" title="">Paid subscriptions</a>
                    </li>
                    <li>
												<span>
													<i class="icon-settings"></i>
												</span>
                      <a href="#" title="">Settings</a>
                    </li>
                    <li>
												<span>
													<i class="icon-logout"></i>
												</span>
                      <a href="#" title="">Sign out</a>
                    </li>
                  </ul>
                </div><!--sd_menu end-->
                <div class="sd_menu scnd">
                  <ul class="mm_menu">
                    <li>
												<span>
													<i class="icon-light"></i>
												</span>
                      <a href="#" title="">Dark Theme</a>
                      <label class="switch">
                        <input type="checkbox">
                        <b class="slider round"></b>
                      </label>
                    </li>
                    <li>
												<span>
													<i class="icon-language"></i>
												</span>
                      <a href="#" title="">Language</a>
                    </li>
                    <li>
												<span>
													<i class="icon-feedback"></i>
												</span>
                      <a href="#" title="">Send feedback</a>
                    </li>
                    <li>
												<span>
													<i class="icon-location"></i>
												</span>
                      <a href="#" title="">India</a>
                      <i class="icon-arrow_below"></i>
                    </li>
                  </ul>
                </div><!--sd_menu end-->
                <div class="restricted-mode">
                  <h4>Restricted Mode</h4>
                  <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                  </label>
                  <div class="clearfix"></div>
                </div><!--restricted-more end-->
              </div>
            </li>
            <li>
              <a href="Upload_Video.html" title="" class="btn-default">Upload</a>
            </li>
          </ul><!--controls-lv end-->

        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</header>