<% content_for :head_block do %>
  <%= stylesheet_link_tag    'animate.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'flatpickr.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'fontello.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'fontello-codes.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'thumbs-embedded.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'responsive.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'newRoom.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'style.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'rooms.js'%>
<% end %>
<header>
  <div class="top_bar">
    <div class="container">
      <div class="top_header_content">
        <div class="btm_bar_content" style="float: left;font-size: 20px">
          <%=link_to "/videos/" do%>视频<%end %>
        </div>
        <div class="btm_bar_content" style="float: left;margin-left:10px;font-size: 20px">
          <%=link_to "/qa/show" do%>Q&A<%end %>
        </div>
        <div class="search_form" style="margin-left: 350px">
          <%= form_tag(rooms_search_path,:method => "get") do %>
            <div class="input-group">
              <%=search_field_tag :id,params[:id],placeholder:"Input Your Invitation Code" %>
              <div>
                <%=button_tag "Enter",:name=>nil %>
              </div>
            </div>
          <%end %>
        </div>
        <div class="clearfix">
          <ul class="controls-lv">
            <% if !logged_in? %>
              <li class="user-log">
                  <span><%=link_to newSeesion_url() do%>登录<%end %></span>
              </li>
            <% end %>
            <% if !logged_in? %>
              <li class="user-log" >
                  <span><%=link_to newUser_url() do%>注册<%end %></span>
              </li>
            <%end %>
            <% if logged_in? %>
              <li class="user-log" >
                <span><strong><%=User.find_by_id(session[:user_id]).name%></strong></span>
              </li>
              <li class="user-log" >
                  <span><%=link_to logout_url() do%>登出<%end %></span>
              </li>
              <%end %>
            </ul><!--controls-lv end-->
        </div>
      </div>
    </div>
  </div>
</header>