
<% content_for :head_block do %>
	<%= stylesheet_link_tag    'video-js.css', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= stylesheet_link_tag    'comment.css', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= stylesheet_link_tag    'player', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for :body_block do %>
<%= render '/layouts/shared/topbar' %>

<input type="hidden" id="room_id" value="<%= @room_id %>"/>
<div class="wrapper">
	<section class="mn-sec">
		<div class="container" style="max-width:1400px">
			<div class="row">
				<div class="col-lg-9">
					<div class="mn-vid-sc single_video">
						<div class="vid-1">
							<div class="vid-pr">
							<video
								    id="my-video"
									class="video-js vjs-big-play-centered"									
								  >
								  <% if @room.video.name!='本地视频' %>
								  <source src="<%= @url %>" type="video/mp4" />
								  <%end%>		
								</video>
							</div><!--vid-pr end-->
							<div class="vid-info">
								<h3><%= @room.video.name %></h3>
								<div class="info-pr">
                  <span><%= @room.video.count %> views  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<b>邀请码：</b> </span>
									<span id ="content" style="color:#10b7ff;cursor:pointer;"><%= @room.id.to_s+'/'+@room.token %></span>
									<div class="clearfix"></div>
								</div><!--info-pr end-->
							</div><!--vid-info end-->
						</div><!--vid-1 end-->
					</div><!--mn-vid-sc end--->
				</div><!---col-lg-9 end-->
				<div class='col-lg-3' style="height: 580px;background: linear-gradient(45deg, white, transparent);">
					<br>
					<h1 style='font-size:30px;text-align: center; color: black'>Notice</h1>
					<div class="comment">
						<div class="comment-wrap" ref="wrapper">
							<ul id="messages" class='message-ul'>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<script>
				$("#content").click(function() {
					const range = document.createRange();
					range.selectNode(document.getElementById('content'));

					const selection = window.getSelection();
					if (selection.rangeCount > 0) selection.removeAllRanges();
					selection.addRange(range);
					document.execCommand('copy');
					alert("复制成功！");
				});
			</script>
			<% if @room.video.name=='本地视频' %>
			<div class="form-group">
             <label class="col-sm-2 control-label"> </label>
    			<div class="col-sm-2 ">
        		<label for="file"class=" btn btn-default">选择本地视频</label><label id='choose_video_name'>尚未选择视频</label>
				<input id="file"type="file"style="display:none" onchange="onFileChange()">
				
			</div>


			<script>
				this.onFileChange = function () {
  				var fileurl = URL.createObjectURL($('#file').get(0).files[0]);
  				var fileType = $('#file').get(0).files[0].type;

  				let video = videojs("my-video");
				video.src({ type: fileType, src: fileurl });
				
				video.pause(); 
				$('#choose_video_name').get(0).innerText=$('#file').get(0).files[0].name; 

			};
			</script>
			<% end %>

		</div>
    </div>

	</section><!--mn-sec end-->
	
	
</div><!--wrapper end-->
<% end %>

<% content_for :tail_block do %>
	<%= javascript_include_tag 'video.js' %>
	<%= javascript_include_tag 'player.js' %>
<% end %>