<% content_for :head_block do %>
  <%= stylesheet_link_tag    'animate.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'flatpickr.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'fontello.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'fontello-codes.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'thumbs-embedded.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'style.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'responsive.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'newRoom.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'rooms.js'%>
<% end %>
<title>index</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="" />
<meta name="keywords" content="" />
<% content_for :body_block do %>

  <div class="wrapper hp_1">
    <%= render '/layouts/shared/topbar' %>
    <section class="vds-main">
      <div class="vidz-row">
        <div class="container">
          <div class="vidz_sec">
            <div class="vidz_list">
              <%= form_for @user,html:{class:"bootstrap-frm"} do |f| %>
                <%= f.label :name %>
                <%= f.text_field :name %>
                <%= f.label :password %>
                <%= f.password_field :password%>
                <%= f.label :password_confirmation, "Confirmation" %>
                <%= f.password_field :password_confirmation %>
                <div class="button">
                <%= f.submit "创建用户" %>
                </div>
              <% end %>
            </div>
          </div><!--vidz_list end-->
        </div><!--vidz_videos end-->
      </div>
  </div><!--vidz-row end-->

  </div><!--wrapper end-->
<% end %>


