<% content_for :head_block do %>
  <%= stylesheet_link_tag    'animate.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'flatpickr.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'fontello.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'fontello-codes.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'thumbs-embedded.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'style.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'responsive.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'color.css', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>
<title>index</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="" />
<meta name="keywords" content="" />
<% content_for :body_block do %>

  <div class="wrapper hp_1">

    <!--topbar-->
    <%= render '/layouts/shared/topbar' %>

    <!--中间背景-->
    <section class="banner-section">
      <div class="container">
        <div class="banner-text">
          <h2>Watch and share with friends</h2>
        </div><!--banner-text end-->
      </div>
    </section><!--banner-section end-->

    <!--展示视频-->
    <section class="vds-main">
      <div class="vidz-row">
        <div class="container">
          <div class="vidz_sec">
            <p>
              Q：我如何创建房间？
              A：选择一个视频，将为您跳转到创建房间的页面
            </p>
            <p>
              Q：我如何进入房间？
              A：进入房间有两种方式，当您创建房间之后，将自动进入房间；或者在页面顶部键入他人分享的邀请码以进入房间
            </p>
            <p>
              Q：我如何管理我的房间？
              A：您无需对您所创建的房间进行管理，当您创建新的房间的时候，会自动覆盖您上一次创建的房间
            </p>
            <p>
              Q：如果我忘记了邀请码，我该如何进入房间？
              A：如果您忘记了邀请码，您将无法进入之前的房间，可以通过同一个视频创建新的房间来与他人共享
            </p>
            <p>
              Q：我设置了房间最大人数为3，但是房间内人数不到3却显示人数已满？
              A：我们保证房间内不会有超过最大人数的用户，但可能由于网络或者服务器的原因，房间内实时人数有误，如果这种情况持续出现，建议尝试重新创建房间
            </p>
            <p>
              Q：为什么房间内播放视频是无声的？
              A：由于技术原因，当您未与播放器进行交互时，我们无法进行同步，因此需要您手动开启播放器的声音
            </p>
            <p>
              Q：如何播放本地视频？
              A：用户创建房间的时候，选择video页面本地视频一项即可创建本地视频房间，在房间中选择本地的视频文件即可，但是每个进入房间的用户都需要选择同样的视频文件
            </p>
            <p>
              Q：为什么选择本地视频后会自动播放？
              A：因为这是一个偶发的bug.....
            </p>
            <p>
              Q：我该如何进行同步？
              A：当您点击播放/暂停/同步按钮的时候，播放器会将您本地的视频时间同步到房间内所有用户。您也可以通过进度条手动控制您本地的进度，但在您点击播放/暂停/同步按钮之前，您通过进度条调整的进度不会同步到其他用户
            </p>
            <p>
              Q：界面右侧的框是什么？
              A；右侧是房间的状态框，每当有用户进入或者进行同步时，右侧都会有相应的状态显示
            </p>
            <p>
              Q：我进入房间时视频已经开始播放了，我该如何同步？
              A：同步操作仅仅将您本地的状态分享给其他用户，是一个单向的过程，您可能需要联系房间内其他用户，由他们发起同步
            </p>
            <p>
              Q：我该如何联系其他用户？
              A：建议您使用其他通信工具联系，由于各方面原因我们没有实现这个功能
            </p>
          </div><!--vidz_videos end-->
        </div>
      </div><!--vidz-row end-->
    </section>
  </div><!--wrapper end-->
<% end %>


