<%= form_with(model: room, local: true) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :room_name %>
  </div>

  <div class="field">
    <%= form.label :owner %>
    <%= form.text_field :owner, id: :room_owner %>
  </div>

  <div class="field">
    <%= form.label :max_users_num %>
    <%= form.number_field :max_users_num, id: :room_max_users_num %>
  </div>

  <div class="field">
    <%= form.label :cur_users_num %>
    <%= form.number_field :cur_users_num, id: :room_cur_users_num %>
  </div>

  <div class="field">
    <%= form.label :public %>
    <%= form.check_box :public, id: :room_public %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
