<% content_for :head_block do %>
  <%= stylesheet_link_tag    'animate.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'flatpickr.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'fontello.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'fontello-codes.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'thumbs-embedded.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'style.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'responsive.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'color.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'rooms.js'%>
<% end %>
<title>index</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="" />
<meta name="keywords" content="" />
<% content_for :body_block do %>

  <div class="wrapper hp_1">
    <%= render '/layouts/shared/topbar' %>
    <section class="banner-section">
      <div class="container">
        <div class="banner-text">
          <h2>Watch share and upload with friends</h2>
<!--          <a href="#" title="">创建我的房间</a>-->
        </div><!--banner-text end-->
        <!--        <h3 class="headline"><a href="#" title="">newfox media</a></h3>-->
      </div>
    </section><!--banner-section end-->

    <section class="vds-main">
      <div class="vidz-row">
        <div class="container">
          <div class="vidz_sec">
            <h3>房间</h3>
            <a id ="more"title="" class="view-btn">更多</a>
            <div class="vidz_list">
              <div class="row">

                <% @rooms.each do |room| %>
                  <div class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
                    <div class="videoo">
                      <div class="vid_thumbainl">
                        <%if !isFull(room) %>
                          <%= link_to open_url(room_id:room.id) do%>
                            <%= image_tag(room.name+".jpg") %>
                            <!--                              <span class="vid-time">10:21</span>-->
                            <span class="watch_later"><i class="icon-watch_later_fill"></i></span>
                          <%end %>
                        <%else %>
                          <%= image_tag(room.name+".jpg") %>
                          <!--                              <span class="vid-time">10:21</span>-->
                          <span class="watch_later"><i class="icon-watch_later_fill"></i></span>
                        <%end %>
                      </div><!--vid_thumbnail end-->
                      <div class="video_info">
                        <%if !isFull(room) %>
                          <h3><%=link_to open_url(room_id:room.id) do%><%= room.name %><%end %></h3>
                          <h4><%= room.owner %></h4>
                          <span style="color: green">房间大小:<%= room.max_users_num %> .<small class="posted_dt" style="color: green" >当前人数:<%= room.cur_users_num %></small></span>
                        <%else %>
                          <h3><%= room.name %></h3>
                          <h4><%= room.owner %></h4>
                          <span style="color: red">房间大小:<%= room.max_users_num %> .<small class="posted_dt" style="color: red">当前人数:<%= room.cur_users_num %></small></span>
                        <%end %>
                      </div>
                    </div><!--videoo end-->
                  </div>
                <% end %>

              </div>
            </div><!--vidz_list end-->
          </div><!--vidz_videos end-->
        </div>
      </div><!--vidz-row end-->

  </div><!--wrapper end-->
<% end %>


