<% content_for :head_block do %>
  <%= stylesheet_link_tag    'animate.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'flatpickr.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'fontello.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'fontello-codes.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'thumbs-embedded.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'style.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'responsive.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'newRoom.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'rooms.js'%>
<% end %>
<title>index</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="" />
<meta name="keywords" content="" />
<% content_for :body_block do %>

  <div class="wrapper hp_1">
    <%= render '/layouts/shared/topbar' %>
    <section class="vds-main">
      <div class="vidz-row">
        <div class="container">
          <div class="vidz_sec">
            <div class="vidz_list">
              <form action="/rooms/" method="post" class="bootstrap-frm">
                <h1>创建房间
                  <span>与他/她分享快乐.</span>
                </h1>
                <label>
                  <span>房 间 名 :</span>
                  <input id="name" type="text" name="name"  />
                </label>
                <label>
                  <span>房 间 大 小 :</span>
                  <select id="max_users_num" name="max_users_num" style="height: 35px">
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </label>
                <input id="user_id" name="user_id" hidden value=<%=params[:user_id] %>>
                <label>
                  <span>&nbsp;</span>
                  <input type="submit" class="button" value="创建" />
                </label>
              </form>
            </div><!--vidz_list end-->
          </div><!--vidz_videos end-->
        </div>
      </div><!--vidz-row end-->
    </section>

  </div><!--wrapper end-->
<% end %>


