<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @room.owner %>
</p>

<p>
  <strong>Max users num:</strong>
  <%= @room.max_users_num %>
</p>

<p>
  <strong>Cur users num:</strong>
  <%= @room.cur_users_num %>
</p>

<p>
  <strong>Public:</strong>
  <%= @room.public %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
